[webserver]
port = ":9050"              # port to bind the web server to. defaults ":8080"

[cache]                     # configure a tile cache
type = "redis"
address = "{{getv "/tegola/redis/host"}}"

# register data providers
[[providers]]
name = "{{getv "/tegola/provider/name"}}"       # provider name is referenced from map layers (required)
type = "postgis"            # the type of data provider. currently only supports postgis (required)
host = "{{getv "/tegola/db/host"}}"          # postgis database host (required)
port = 5432                 # postgis database port (required)
database = "{{getv "/tegola/db/name"}}"        # postgis database name (required)
user = "{{getv "/tegola/db/user"}}"             # postgis database user (required)
password = "{{getv "/tegola/db/password"}}"               # postgis database password (required)
timeout = {{getv "/tegola/db/timeout" "60000"}}
srid = 4326                 # The default srid for this provider. Defaults to WebMercator (3857) (optional)
max_connections = 100        # The max connections to maintain in the connection pool. Default is 100. (optional)

  [[providers.layers]]
  name = "{{getv "/tegola/providers/layers/name"}}"   # will be encoded as the layer name in the tile
  # tablename = "{{getv "/tegola/providers/layers/tablename"}}"  # sql or table_name are required
  geometry_type = "linestring"        # geometry type. if not set, tables are inspected at startup to try and infer the gemetry type
  srid = 4326                         # the srid of table's geo data. Defaults to WebMercator (3857)
  # fields = ["hash", "{{getv "/tegola/providers/layers/field2"}}", "bin_num"]
  sql = '''
      SELECT
        MAX(gid) as gid,
        ST_AsBinary(ST_Collect(seg.geom)) AS geom,
        trip_count,
        bin_num
      FROM hashed_trips ht, geos_trips_segs as seg
      WHERE !HASH! AND ht.gid = seg.id AND geom && !BBOX!
      GROUP BY hash, {{getv "/tegola/providers/layers/field2"}}, bin_num
  '''
  hash_fieldname = "hash"

  [[providers.layers]]
  name = "byod_trips"                    # will be encoded as the layer name in the tile
  geometry_type = "linestring"
  geometry_fieldname = "geom"      # geom field. default is geom
  srid = 4326                      # the srid of table's geo data. Defaults to WebMercator (3857)
  sql = '''
    -- using a CTE to prevent an infinite loop with group by and st_collect
    WITH min_max_aud (min_aud, max_aud) as (
        values (
                (SELECT MIN(audience_count) FROM custom_trips cti WHERE !HASH!),
                (SELECT MAX(audience_count) FROM custom_trips cti WHERE !HASH!)
            )
    )
    SELECT
        MAX(gid) as gid,
        ST_AsBinary(ST_Collect(geom)) AS geom,
        ((audience_count - min_aud) * 100) / (max_aud - min_aud) as perc
    FROM custom_trips cto, min_max_aud
    WHERE !HASH! AND geom && !BBOX!
    GROUP BY import_id, min_aud, max_aud, audience_count
  '''
  hash_fieldname = "import_id"

  [[providers.layers]]
  name = "byod_lives"                    # will be encoded as the layer name in the tile
  geometry_type = "multipolygon"
  geometry_fieldname = "geom"      # geom field. default is geom
  srid = 4326                      # the srid of table's geo data. Defaults to WebMercator (3857)
  sql = '''
      SELECT
          gid,
          ST_AsBinary(geom) AS geom,
          ((audience_count - mm.min) * 100) / (mm.max - mm.min) as perc
      FROM custom_lives cto, (
          SELECT
              MIN(audience_count) as min,
              MAX(audience_count) as max
          FROM custom_lives cti
          WHERE !HASH!
          LIMIT 1) mm
      WHERE !HASH! AND geom && !BBOX!
  '''
  hash_fieldname = "import_id"

# maps are made up of layers
[[maps]]
name = "{{getv "/tegola/maps/name"}}"     # used in the URL to reference this map (/maps/:map_name)

  [[maps.layers]]
  provider_layer = "{{getv "/tegola/maps/layers/provider_layer"}}"  # must match a data provider layer
  min_zoom = 5                            # minimum zoom level to include this layer
  max_zoom = 20                            # maximum zoom level to include this layer
  [[maps.layers]]
  name = "byod_trips"
  provider_layer = "{{getv "/tegola/provider/name"}}.byod_trips"
  min_zoom = 5                     # minimum zoom level to include this layer
  max_zoom = 22                    # maximum zoom level to include this layer
  [[maps.layers]]
  name = "byod_lives"
  dont_simplify = true
  provider_layer = "{{getv "/tegola/provider/name"}}.byod_lives"
  min_zoom = 5                     # minimum zoom level to include this layer
  max_zoom = 22 # maximum zoom level to include this layer